{{#org-about-us-what-is}}
<section class="what-is-section">
	<div class="container">
		<div class="what-is-section__main">
			{{> ../molecules/title-h2}}
			<div class="row pt-4">
				<div class="col-12 col-lg-3 about-us-section-item">
					<div class="about-us-global-main">
						<div class="what-is-section__main__image-block-1">
							<img src="assets/img/what-is-1.png" alt="what-is-1">
						</div>
						<div class="what-is-section__main__info-block-1">
							<h2>Хто ми?</h2>
							<p>На виробництві Rock Design, на замовлення клієнта виготовлять як стандартні так і нестандартні
								кольорові
								ванни і раковини
							</p>
							<p> Ванна, виготовлена з литого мармуру, стане центром вашої ванної кімнати, перетворюючи кожне купання в
								захоплюючу і приємну процедуру.
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-3 about-us-section-item">
					<div class="about-us-global-main">
						<div class="what-is-section__main__info-block-2">
							<h2>Що ми робимо</h2>
							<p>Наші клієнти завжди задоволені
								Ванна, виготовлена з литого мармуру, стане центром вашої ванної кімнати, перетворюючи кожне купання в
								захоплюючу і приємну процедуру.
							</p>
						</div>
						<div class="what-is-section__main__image-block-2">
							<img src="assets/img/what-is-2.png" alt="what-is-1">
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-3 about-us-section-item">
					<div class="about-us-global-main">
						<div class="what-is-section__main__image-block-3">
							<img src="assets/img/what-is-3.png" alt="what-is-3">
						</div>
						<div class="what-is-section__main__info-block-3">
							<h2>Де ми знаходимось ?</h2>
							<div class="what-is-section__main__info-block-3__logo">
								<div class="what-is-section__main__info-block-3__logo__items">
									<a href="#">
										<img src="assets/img/about-us-logo-1.png" alt="logo-1">
									</a>
								</div>
								<div class="what-is-section__main__info-block-3__logo__items">
									<a href="#">
										<img src="assets/img/about-us-logo-2.png" alt="logo-2">
									</a>
								</div>
							</div>
							<a href="#">Переглянути адреси шоурумів</a>
							<h3>А також нас можна знайти в інтернет магазині</h3>
							<div class="what-is-section__main__info-block-3__logo__bottom">
								<div class="what-is-section__main__info-block-3__logo__bottom__company">
									<a href="#">
										<img src="assets/img/about-us-logo-3.png" alt="logo-3">
									</a>
								</div>
								<div class="what-is-section__main__info-block-3__logo__bottom__company">
									<a href="#">
										<img src="assets/img/about-us-logo-4.png" alt="logo-4"></a>
								</div>
								<div class="what-is-section__main__info-block-3__logo__bottom__company">
									<a href="#">
										<img src="assets/img/about-us-logo-5.png" alt="logo-5">
									</a>
								</div>
							</div>
							<a href="#">Переглянути весь список</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-3 about-us-section-item">
					<div class="about-us-global-main">
						<div class="what-is-section__main__info-block-2">
							<h2>Як ми досягаємо своїх цілей?</h2>
							<p>Наші клієнти завжди задоволені
								Ванна, виготовлена з литого мармуру, стане центром вашої ванної кімнати, перетворюючи кожне купання в
								захоплюючу і приємну процедуру.
							</p>
						</div>
						<div class="what-is-section__main__image-block-2">
							<img src="assets/img/what-is-2.png" alt="what-is-1">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{/org-about-us-what-is}}