{{#org-about-us-banner}}
<section class="about-us-banner">
  <div class="conatainer">
    <div class="row">
      <div class="col-12">
        <div class="container position-relative">
          <div class="row">
            <div class="col-12 col-lg-6 d-flex flex-column">
              {{> ../molecules/breadcumbs}}
              {{> ../molecules/about-us-banner-info}}
            </div>
            <div class="col-12 col-lg-6 about-us-line-2">
              <div class="about-us-banner__main__image" style="background-image:url(assets/img/about-us-banner.png)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> ../molecules/after-banner-text}}
</section>
{{/org-about-us-banner}}