{{#org-about-us-our-story}}
<section class="about-us-our-story">
	<div class="container">
		{{> ../molecules/title-h2}}
		<div class="about-us-line"></div>
	</div>
	<div class="about-us-our-story__main">
		{{#our-story-items}}
		{{> ../molecules/about-us-small-item}}
		{{> ../molecules/about-us-big-item}}
		{{/our-story-items}}
	</div>
</section>
{{/org-about-us-our-story}}