{{#org-about-material}}
<section class="about-material {{shipping-about-material}}">
  <div class="container">
    <div class="about-material__title">
      {{> ../molecules/title-h2}}
    </div>
    {{> ../molecules/about-material-info}}
  </div>
</section>
{{/org-about-material}}