{{#org-banner-main}}
<section class="banner-main">
  <div class="position-relative">
    <div class="container position-relative">
      <div class="banner-main__breadcrumbs">
        <ul>
          <li><a href="#">Головна</a></li>
          <li><a href="#">Ванни</a></li>
          <li><a href="#">klassik</a></li>
        </ul>
      </div>
    </div>
    <div class="banner-main__content">
      <div class="banner-main__content__item">
        <div class="banner-main__content__item__title">
          <h1>Klassika</h1>
        </div>
      </div>
    </div>
    <div class="slider-banner">
      <div class="slide-content" style="background-image:url('assets/img/banner-image-1.jpg');">
      </div>
      <div class="slide-content" style="background-image:url('assets/img/banner-image-1.jpg');">
      </div>
      <div class="slide-content" style="background-image:url('assets/img/banner-image-1.jpg');">
      </div>
      <div class="slide-content" style="background-image:url('assets/img/banner-image-1.jpg');">
      </div>
    </div>
  </div>
</section>
{{/org-banner-main}}