{{#org-basket-single-content}}
<section class="basket-single">
	<div class="container">
		<div class="basket-single__main">
			<div class="row">
				<div class="col-12 col-lg-4">
					{{> ../molecules/breadcumbs}}
				</div>
				<div class="col-12 col-lg-4">
					{{> ../molecules/title-h2}}
					<div class="subtitle-text">
						<span>Але це легко можна виправити</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{/org-basket-single-content}}