{{#org-basket-content}}
<section class="basket-content">
	<div class="container">
		<div class="basket-content__main">
			<div class="basket-content__main__title">
				<div class="row d-flex flex-row">
					<div class="col-12 col-lg-4">
						{{> ../molecules/breadcumbs}}
					</div>
					<div class="col-12 col-lg-3">
						{{> ../molecules/title-h2}}
					</div>
				</div>
			</div>
			<div class="row justify-content-center basket-content-position">
				<div class="col-12 col-lg-4">
					{{> ../molecules/basket-content-form}}
				</div>
				<div class="col-12 col-lg-7">
					{{> ../molecules/basket-content-goods}}
				</div>
			</div>
		</div>
	</div>
</section>
{{/org-basket-content}}