{{#org-certificate}}
<section class="certificate">
	<div class="container">
		<div class="certificate__main">
			{{> ../molecules/title-h2}}
			<div class="certificate-slider">
				<div class="row m-0 d-flex align-items-center">
					<div class="col-12 col-lg-8 p-0">
						<div class="certificate__main__info">
							<h3>2005 Заснування</h3>
							<p>Мармурова ванна з литого мармуру — це поєднання неперевершеної якості і привабливого дизайну. Плавні
								лінії і оригінальні форми мармурових ванн притягають погляд, а блиск відполірованого каменю викликає
								бажання торкатися до неї знову і знову. Ванна, виготовлена з литого мармуру, стане центром вашої ванної
								кімнати, перетворюючи кожне купання в захоплюючу і приємну процедуру.
							</p>
						</div>
					</div>
					<div class="col-12 col-lg-4 p-0">
						<div class="certificate__main__image-main">
							<div class="certificate__main__image-main__certificate">
								<img src="assets/img/cartificate.png" alt="certificate">
							</div>
						</div>
					</div>
				</div>
				<div class="row m-0 d-flex align-items-center">
					<div class="col-12 col-lg-8 p-0">
						<div class="certificate__main__info">
							<h3>2005 Заснування</h3>
							<p>Мармурова ванна з литого мармуру — це поєднання неперевершеної якості і привабливого дизайну. Плавні
								лінії і оригінальні форми мармурових ванн притягають погляд, а блиск відполірованого каменю викликає
								бажання торкатися до неї знову і знову. Ванна, виготовлена з литого мармуру, стане центром вашої ванної
								кімнати, перетворюючи кожне купання в захоплюючу і приємну процедуру.
							</p>
						</div>
					</div>
					<div class="col-12 col-lg-4 p-0">
						<div class="certificate__main__image-main">
							<div class="certificate__main__image-main__certificate">
								<img src="assets/img/cartificate.png" alt="certificate">
							</div>
						</div>
					</div>
				</div>
				<div class="row m-0 d-flex align-items-center">
					<div class="col-12 col-lg-8 p-0">
						<div class="certificate__main__info">
							<h3>2005 Заснування</h3>
							<p>Мармурова ванна з литого мармуру — це поєднання неперевершеної якості і привабливого дизайну. Плавні
								лінії і оригінальні форми мармурових ванн притягають погляд, а блиск відполірованого каменю викликає
								бажання торкатися до неї знову і знову. Ванна, виготовлена з литого мармуру, стане центром вашої ванної
								кімнати, перетворюючи кожне купання в захоплюючу і приємну процедуру.
							</p>
						</div>
					</div>
					<div class="col-12 col-lg-4 p-0">
						<div class="certificate__main__image-main">
							<div class="certificate__main__image-main__certificate">
								<img src="assets/img/cartificate.png" alt="certificate">
							</div>
						</div>
					</div>
				</div>
				<div class="row m-0 d-flex align-items-center">
					<div class="col-12 col-lg-8 p-0">
						<div class="certificate__main__info">
							<h3>2005 Заснування</h3>
							<p>Мармурова ванна з литого мармуру — це поєднання неперевершеної якості і привабливого дизайну. Плавні
								лінії і оригінальні форми мармурових ванн притягають погляд, а блиск відполірованого каменю викликає
								бажання торкатися до неї знову і знову. Ванна, виготовлена з литого мармуру, стане центром вашої ванної
								кімнати, перетворюючи кожне купання в захоплюючу і приємну процедуру.
							</p>
						</div>
					</div>
					<div class="col-12 col-lg-4 p-0">
						<div class="certificate__main__image-main">
							<div class="certificate__main__image-main__certificate">
								<img src="assets/img/cartificate.png" alt="certificate">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="certificate__arrows d-none d-lg-block col-lg-12">
				<div class="certificate__arrows__left prev-slide d-none d-lg-block ">
					<div class="arrow-bg-left"></div>
				</div>
				<div class="certificate__arrows__right next-slide d-none d-lg-block">
					<div class="arrow-bg-right"></div>
				</div>
			</div>
		</div>
	</div>
	{{> ../molecules/after-banner-text}}
</section>
{{/org-certificate}}