{{#org-footer-main}}
<footer>
	<div class="container">
		<div class="row">
			<div class="col-12 footer-padding">
				<div class="footer-main">
					{{> ../molecules/footer-logo}}
					{{> ../molecules/footer-main-content}}
				</div>
				{{> ../molecules/footer-social}}
			</div>
		</div>
	</div>
</footer>
{{/org-footer-main}}