{{#org-my-footer}}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="my-footer">
          <div class="row">
            {{> ../molecules/footer-lists-block}}
            {{> ../molecules/footer-contact-list}}
          </div>
        </div>
      </div>
    </div>
    {{> ../molecules/subfooter}}
  </div>
</footer>
{{/org-my-footer}}