{{#org-partners}}
  <section class="partners">
    <div class="container">
      <div class="partners__main">
        {{> ../molecules/title-h2}}
        <div class="partners__main__content">
          <p>Наша компанія надає можливість Вам змінювати форми, розміри, обрізку,
            кольори та інше. в своїх моделях під Ваш інтер'єр
          </p>
          {{> ../molecules/partners-logo}}
        </div>
      </div>
    </div>
  </section>
{{/org-partners}}
