{{#org-purchases-content}}
<section class="purchases-content" style="background-image:url(assets/img/anagraph-1.png)">
	<div class="container">
		{{> ../molecules/purchases-content-info}}
	</div>
</section>
{{/org-purchases-content}}