{{#org-review-client}}
<section class="review-client">
	<div class="container">
		{{> ../molecules/subtitle-default}}
		<div class="review-client__main">
			{{> ../molecules/review-client-item}}
			<div class="review-client__main__button">
				<button class="review-client__main__button__reload" id="next">
					<img src="assets/img/reload.svg" alt="reload">
					Ще коментарів
				</button>
			</div>
		</div>
	</div>
</section>
{{/org-review-client}}