{{#org-shipping-content-line-1}}
<section class="shipping-line-1">
	<div class="container">
		<div class="shipping-line-1__main">
			<div class="row">
				<div class="col-12 col-lg-4">
					{{> ../molecules/breadcumbs}}
				</div>
				<div class="col-12 col-lg-8">
					<div class="shipping-line-1__main__title">
						<h2>Доставка і оплата</h2>
					</div>
				</div>
			</div>

		</div>
		<div class="shipping-line-1__description">
			<p>Наша компанія надає можливість Вам змінювати форми, розміри, обрізку,
				кольори та інше. в своїх моделях під Ваш інтер'єр</p>
		</div>
		{{> ../molecules/anagraph-content}}
	</div>
</section>
{{/org-shipping-content-line-1}}