{{#org-showrooms-select-block}}
<section class="showrooms-select">
	<div class="container">
		<div class="showrooms-select__main">
			<div class="row showrooms-content">
				<div class="col-12 col-lg-4 ">
					{{> ../molecules/breadcumbs}}
				</div>
				<div class="col-12 col-lg-4">
					{{> ../molecules/title-h2}}
				</div>
				<div class="col-12 col-lg-4">
					{{> ../molecules/showrooms-select}}
				</div>
			</div>
		</div>
	</div>
</section>
{{/org-showrooms-select-block}}