{{#org-unique-baths}}
<section class="unique-baths">
	<div class="container">
		<div class="unique-baths__info">
			<h3>6 унікальних ванн</h3>
			<p>Наша компанія надає можливість Вам змінювати форми, розміри, обрізку,
				кольори та інше. в своїх моделях під Ваш інтер'єр</p>
		</div>
	</div>
	<div class="unique-baths__main">
		<div class="unique-baths__main__items" style="background-image:url(assets/img/unique-bath.png)">
		</div>
		<div class="unique-baths__main__items" style="background-image:url(assets/img/unique-bath.png)">
		</div>
		<div class="unique-baths__main__items" style="background-image:url(assets/img/unique-bath.png)">
		</div>
		<div class="unique-baths__main__items" style="background-image:url(assets/img/unique-bath.png)">
		</div>
	</div>
</section>
{{/org-unique-baths}}