.about-us-our-story__big-item {
  width: 100%;
  height: auto;
  position: relative;
  max-width: 287px;
  min-height: 287px;
  border: 1px solid #D3D3D3;
  margin: 0 30px;
  z-index: 100;
  background-color: #fff;
  transition: all .3s ease-in-out;
  &__content {
    width: 100%;
    height: auto;
    position: relative;
    max-width: 245px;
    min-height: 245px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    left: -45px;
    top: 20px;
    transition: all .3s ease-in-out;
    h3 {
      font-family: 'Helvetica Medium';
      font-size: 5rem;
      color: #59708F;
      padding: 0;
      margin: 0;
      transition: all .3s ease-in-out;
    }
    p {
      font-family: 'Helvetica Medium';
      font-size: 1.875rem;
      color: #59708F;
      padding: 0;
      margin: 0;
      transition: all .3s ease-in-out;
    }
    &__hover {
      display: none;
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;
      transition: all .3s ease-in-out;
      p {
        color: #8E8E8E;
        font-size: 1.125rem;
        font-family: 'Helvetica Light';
        padding: 0 10px;
        margin: 0 auto;
        text-align: center;
        transition: all .3s ease-in-out;
      }
      &__btn {
        position: relative;
        transition: all .3s ease-in-out;
        width: 60px;
        height: 60px;
        background-color: #A7B5C5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: absolute;
        bottom: -15%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        a {
          position: relative;
          width: 100%;
          height: auto;
          outline: none;
          transition: all .3s ease-in-out;
          img {
            width: auto;
            height: auto;
            position: relative;
            transition: all .3s ease-in-out;
          }
        }
      }
    }
  }
}

.big-item-cube-2 {
  top: 117px;
  transition: all .3s ease-in-out;
}

.big-item-cube-2 .about-us-our-story__big-item__content {
  justify-content: flex-end;
  transition: all .3s ease-in-out;
}

.bg-image-block {
  max-width: 257px;
  height: 257px;
  width: 100%;
  margin: 14px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: all .3s ease-in-out;
}

.about-us-our-story__big-item:hover .about-us-our-story__big-item__content {
  display: none;
  transition: all .3s ease-in-out;
}


.about-us-our-story__big-item:hover .about-us-our-story__big-item__content__hover {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}
.about-us-our-story__big-item:hover .about-us-our-story__big-item__content__hover h3 {
  transition: all .3s ease-in-out;
}


.about-us-our-story__big-item:hover .about-us-our-story__big-item__content__hover p {
  transition: all .3s ease-in-out;
}
.about-us-our-story__big-item:hover {
  transform: scale(1.1);
}

@media screen and (max-width:992px) {
  .about-us-our-story__big-item__content__hover p {
    font-size: .875rem;
  }
  .big-item-cube-2 {
    top: 0;
  }
  .bg-image-block {
    margin: 0;
  }
  .about-us-our-story__big-item {
    max-width: 230px;
    min-height: 230px;
  }
  .about-us-our-story__big-item__content {
    max-width: 230px;
    min-height: 230px;
    width: 100%;
    height: auto;
    text-align: center;
  }
}

@media screen and (min-width:992px) and (max-width:1600px) {
  .about-us-our-story__big-item__content__hover__btn {
    width: 40px;
    height: 40px;
    bottom: -7%;
  }
  .about-us-our-story__big-item__content__hover p {
    font-size: .875rem;
    line-height: 1.1;
  }
  .bg-image-block {
    margin: 0;
  }
  .about-us-our-story__big-item {
    max-width: 160px;
    min-height: 160px;
  }
  .about-us-our-story__big-item__content {
    max-width: 160px;
    min-height: 160px;
  }
  .about-us-our-story__big-item__content h3 {
    font-size: 2rem;
  }
  .about-us-our-story__big-item__content p {
    font-size: 1.2rem;
  }
}