.my-footer__contact-info {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0;
  max-width: 215px;
  h2 {
    color: #59708F;
    font-size: 1.125rem;
    font-family: 'Helvetica Medium';
    margin: 0;
    padding: 0 0 20px 0;
    text-align: left;
  }
  p {
    color: #8E8E8E;
    font-size:.875rem;
    font-family: 'Helvetica Bold';
    padding: 0 0 15px 0;
    margin: 0;
  }
  a {
    color: #59708F;
    font-size: .875rem;
    font-family: 'Helvetica Light';
    padding: 0 0 15px 0;
    margin: 0;
  }
  .social-link {
   
    a {
      padding: 0 15px 15px 0 ;
      &:last-child {
        padding: 0 0 0 0 ;
      }
      img {
        position: relative;
        width: auto;
        height: auto;
        padding-right: 15px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
.contact-list-main-block {
  display: flex;
  justify-content:flex-end;
  align-items:center;
 }
 @media screen and (min-width:992px) and (max-width:1201px) {
  .my-footer__contact-info h2 {
    font-size: .875rem;
  }

 } 
 @media screen and (max-width:992px) {
  .contact-list-main-block {
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
   }
 }
