.footer-main__logo {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
  img {
    width: auto;
    height: auto;
    position: relative;
  }
}