.title-h2 {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  padding-bottom: 35px;
  h2 {
    color: #59708F;
    font-size: 1.875rem;
    font-family: 'Helvetica Medium';
    margin: 0;
  }
}