{{#mol-about-us-banner-info}}
<div class="about-us-banner__main">
  <div class="about-us-banner__main__title">
    <h2>
      {{{title}}}
    </h2>
    <p>
      {{{description}}}
    </p>
  </div>
</div>
{{/mol-about-us-banner-info}}