{{#mol-about-material-info}}
<div class="about-material__info">
  {{#title-1}}
  <h3>{{{title-1}}}</h3>
  {{/title-1}}

  {{#text}}
  <p>{{{text-1}}}</p>
  {{/text}}
  <ul>
    {{#my-list}}
    <li>
      {{{link}}}
    </li>
    {{/my-list}}
  </ul>
</div>
{{/mol-about-material-info}}