{{#mol-about-us-big-item}}
<div class="about-us-our-story__big-item {{big-item-cube-2}} {{big-item-cube-3}}">
		{{#bg-image}}
	<div class="bg-image-block" style="background-image:url({{{bg-image}}})">
		<div class="about-us-our-story__big-item__content">
			<h3>{{{number}}}</h3>
			<p>{{{title}}}</p>
		</div>
		<div class="about-us-our-story__big-item__content__hover">
			<p>На виробництві Rock Design, на замовлення клієнта виготовлять як стандартні так </p>
			<div class="about-us-our-story__big-item__content__hover__btn">
				<a href="#">
					<img src="assets/img/arrow-top.svg" alt="arrow-top">
				</a>
			</div>
		</div>
	</div>
	{{/bg-image}}
</div>
{{/mol-about-us-big-item}}