{{#mol-about-us-small-item}}
<div class="about-us-our-story__main__small-item {{small-item-cube-2}}">
	<div class="bg-color-block">
		<div class="about-us-our-story__main__small-item__content">
			<h2>{{{title}}}</h2>
			<p>{{{number}}}</p>
		</div>
		<div class="about-us-our-story__main__small-item__content__hover">
			<p>На виробництві Rock Design, на замовлення </p>
			<div class="about-us-our-story__main__small-item__content__hover__btn">
				<a href="#">
					<img src="assets/img/arrow-top.svg" alt="arrow-top">
				</a>
			</div>
		</div>
	</div>
</div>
{{/mol-about-us-small-item}}