{{#mol-advantages-content-image-hover}}
{{#image-hover}}
<div class="col-12 col-md-6 col-lg-4 advantages-main-block">
	<div class="advantages__main__item item-white-bg">
		<div class="advantages__main__item__button">
			<a href="#">{{{btn}}}</a>
		</div>
		<div class="advantages__main__item__hover-image-content ">
			<div class="position-relative hover-main-content">
				<div class="widget" style="background-image: url({{{hover-image}}}); background-repeat: no-repeat;">
				</div>
				<a href="#">
					<div class="d-flex align-items-center justify-content-center flex-column for-text-block-hover position-absolute h-100">
						<h2>{{{hover-title}}}</h2>
						<p>{{{hover-description}}}</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
{{/image-hover}}
{{/mol-advantages-content-image-hover}}