{{#mol-characteristic-table}}
<div class="col-lg-6 p-0">
	<div class="characteristic-block__main__table__content">
		<h2>{{{title}}}</h2>
		{{#item}}
		<div class="characteristic-block__main__table__content__item">
			<div class="row m-0">
				<div class="col-6 p-0 big-font">
					<p>
						{{{text-1}}}
					</p>
				</div>
				<div class="col-6 p-0 small-font">
					<p>
						{{{text-2}}}
					</p>
				</div>
			</div>
		</div>
		{{/item}}
	</div>
</div>
{{/mol-characteristic-table}}