{{#mol-contact-us-info}}
<div class="contact-us__main__content__info">
	<h3>{{{title}}}</h3>
	<div class="contact-us__main__content__info__number ">
		<h4>{{{phone-title}}}</h4>
		<a href="tel:+38067 444 67 22">{{{number-1}}}</a>
	</div>
	<div class="contact-us__main__content__info__others-numbers ">
		<a href="tel:+38067 444 67 20">{{{number-2}}}</a>
		<a href="tel:+38067 444 67 00">{{{number-3}}}</a>
	</div>
	<div class="contact-us__main__content__info__mail">
		<h4>{{{title-email}}}</h4>
		<a href="mailto:office@rock-design.eu">{{{email}}}</a>
	</div>
	<div class="contact-us__main__content__info__location">
		<h4>{{{title-adress}}}</h4>
		<p>{{{adress}}}</p>
	</div>
	<div class="contact-us__main__content__info__calendar-job">
		<h4>{{{calendar-title}}}</h4>
		<p>{{{calendar}}}</p>
	</div>
	<div class="contact-us__main__content__info__social">
		<h4>{{{social-title}}}</h4>
		<a href="#">
			<img src="{{{facebook}}}" alt="{{{facebook-alt}}}">
		</a>
		<a href="#">
			<img src="{{{instagram}}}" alt="{{{instagram-alt}}}">
		</a>
	</div>
</div>
{{/mol-contact-us-info}}