{{#mol-find-on-content}}
<div class="all-logo-block">
	<div class="find-on__main__logo">
		<a href="#">
			<img src="{{{img-1}}}" alt="{{{alt-1}}}">
		</a>
	</div>
	<div class="find-on__main__logo">
		<a href="#">
			<img src="{{{img-2}}}" alt="{{{alt-2}}}">
		</a>
	</div>
	<div class="find-on__main__logo">
		<a href="#">
			<img src="{{{img-3}}}" alt="{{{alt-3}}}">
		</a>
	</div>
</div>
<div class="row d-flex justify-content-center align-items-center">
	{{#list-shop}}
	<div class="col-4 col-lg-2">
		<div class="find-on__main__list {{central-list}} {{last-list}}">
			<ul>
				<li>
					<a href="#">
						{{{shop-1}}}
					</a>
				</li>
				<li>
					<a href="#">
						{{{shop-2}}}
					</a>
				</li>
				<li>
					<a href="#">
						{{{shop-3}}}
					</a>
				</li>
				<li>
					<a href="#">
						{{{shop-4}}}
					</a>
				</li>
			</ul>
		</div>
	</div>
	{{/list-shop}}
</div>
{{/mol-find-on-content}}