{{#mol-footer-main-content}}
<div class="footer-main__content">
	<div class="row pb-4">
		<div class="col-12 col-lg-4">
			<div class="footer-main__content__data">
				<p>{{{data}}}</p>
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<div class="footer-main__content__phone">
				<a href="tel:+38067 444 67 22">{{{number-1}}}</a>
				<a href="tel:+38067 444 67 20">{{{number-2}}}</a>
				<a href="tel:+38067 444 67 00">{{{number-3}}}</a>
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<div class="footer-main__content__str">
				{{#description}}
				<p>{{{text}}}</p>
				{{/description}}
			</div>
		</div>
	</div>
</div>
{{/mol-footer-main-content}}