{{#mol-page-404-text-content}}
<div class="page-404__main">
	{{#title-1}}
	<div class="page-404__main__global-text">
		<h2>{{{title-1}}}</h2>
		<h3>{{{title-2}}}</h3>
		<p>
			{{{description}}}
		</p>
	</div>
	{{/title-1}}
</div>
{{/mol-page-404-text-content}}