{{#mol-page-404-buttons}}
<div class="page-404__navigation">
	<h4>{{{description}}}</h4>
	<div class="row buttons-404">
		{{#error-buttons}}
		<div class="col-12 col-lg-4">
			<div class="page-404__navigation__button {{catalog}}">
				<a href="#">{{{btn}}}</a>
			</div>
		</div>
		{{/error-buttons}}
	</div>
</div>
{{/mol-page-404-buttons}}