{{#mol-partners-logo}}
<div class="partners__main__content__slider">
  {{#logo-content}}
  <a href="#" target="_blank">
    <div class="partners__main__content__slider__item col-12">
      <div class="partners__main__content__slider__item__content">
        <img src="{{{image}}}" alt="{{{alt}}}">
      </div>
    </div>
  </a>
  {{/logo-content}}
</div>
{{/mol-partners-logo}}