{{#mol-purchases-content-info}}
<div class="purchases-content__main">
	<div class="purchases-content__main__title">
		<h2>{{{title}}}</h2>
		<h3>{{{subtitle}}}</h3>
		<p>{{{number}}}</p>
	</div>
	<div class="purchases-content__main__description">
		<p>{{{description}}}</p>
		<div class="purchases-content__main__description__button">
			<a href="#">{{{button}}}</a>
		</div>
	</div>
</div>
{{/mol-purchases-content-info}}