.characteristic-block {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 75px;
  padding-bottom: 35px;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__my-nav-tabs {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border-bottom: 2px solid #D3D3D3;
      &__item {
        outline: none;
        border: none;
        a {
          position: relative;
          z-index: 200;
          font-size: 30px;
          color: #8E8E8E;
          outline: none;
          font-family: 'Helvetica Medium';
          font-size: 1.875rem;
          padding: 10px 35px 25px 35px !important;
          border: none;
          transition: all .3s ease-in-out;
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background: transparent;
            transition: all .3s ease-in-out;
            position: absolute;
            bottom: -1px;
            left: 0;
          }
          &.nav-link {
            border: none;
          }
          &.nav-link.active,
          &:hover {
            border: none;
            color: #59708F;
            &:after {
              background-color: currentColor;
            }
          }
        }
      }
    }
    &__subinfo {
      width: 100%;
      height: auto;
      position: relative;
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      padding-top: 15px;
      p {
        margin: 0;
        font-size: 1.125rem;
        color: #8E8E8E;
        font-family: 'Helvetica Thin';
      }
    }
    &__table {
      width: 100%;
      height: auto;
      position: relative;
      &__title {
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 50px;
        h3 {
          font-size: 1.5rem;
          color: #59708F;
          padding-left: 101px;
          font-family: 'Helvetica Medium';
        }
      }
      &__column {
        width: 100%;
        height: auto;
        position: relative;
        p {
          font-size: 1.25rem;
          color: #8E8E8E;
          padding: 0 0 0 115px;
          margin: 0;
          height: auto;
          min-height: 85px;
          font-family: 'Helvetica Medium';
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
  }
}

.characteristic-block__main__table__column p:nth-child(odd) {
  background-color: #E3EAF2;
}

.tab-content {
  padding-top: 45px;
}

.font-style-thin p {
  font-family: 'Helvetica Thin';
  font-size: 1.125rem;
}

@media screen and (max-width:992px) {
  .title-h2 h2 {
    font-size: 1.2rem;
    padding: 0 35px;
  }
  .font-style-thin p {
    font-size: .875rem !important;
  }
  .tab-content {
    padding-top: 0;
  }
  .top-sales .slick-dots {
    bottom: -5% !important;
  }
  .we-offer__main h2 {
    font-size: 1.2rem;
  }
  .title-h2 {
    padding-bottom: 0;
  }
  .characteristic-block__main__subinfo p {
    font-size: .875rem;
  }
  .characteristic-block__main__my-nav-tabs__item a {
    font-size: 1.125rem;
    padding: 10px 25px 10px 25px !important;
  }
  .characteristic-block__main__table__title {
    padding-bottom: 25px;
    padding-top: 46px;
  }
  .characteristic-block__main__table__column p {
    font-size: 0.875rem;
    min-height: 50px;
    padding: 0 0 0 20px;
  }
  .characteristic-block__main__table__title h3 {
    text-align: center;
    padding: 0;
  }
}

@media screen and (min-width:1200px) and (max-width:1600px) {
  .characteristic-block__main__my-nav-tabs__item a {
    font-size: 1.5rem;
  }
  .characteristic-block__main__subinfo p {
    font-size: 1rem;
  }
}