.map {
  width: 100%;
  position: relative;
  height: auto;
  padding-top: 55px;
  &__content {
    width: 100%;
    position: relative;
    height: auto;
    display: block;
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      min-height: 60px;
      position: absolute;
      max-width: 250px;
      margin: 0 auto;
      text-align: center;
      background-color: #59708F;
      border-radius: 30px;
      bottom: 50px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      a {
        color: #fff;
        text-decoration: none;
        padding: 16px 84px 16px 83px;
        font-size: 1.25rem;
        font-family: 'Helvetica Medium';
        transition: all .3s ease-in-out;
      }
    }
  }
}

.gm-style-iw-d h5 {
  color: #CC6A6A;
  font-size: 1.125rem;
  font-family: 'Helvetica Regular';
  margin: 0;
  padding-bottom: 15px;
}

.gm-style-iw-d p {
  color: #8E8E8E;
  font-size: .875rem;
  font-family: 'Helvetica Light';
  margin: 0;
}

.gm-style .gm-style-iw-c {
  top: 172px;
  left: 132px;
  border-radius: 0;
  width: 250px;
  box-shadow: none;
  border: 1px solid #D3D3D3;
}

.gm-style .gm-style-iw-t:after {
  content: '';
  display: none;
}

.gm-style-iw-t::before {
  content: '';
  display: none;
}

@media screen and (min-width:992px) and (max-width:1201px) {
  .map__content__button {
    min-height: 50px;
  }
  .map__content__button a {
    padding: 10px 70px;
    font-size: 1.124rem;
  }
}

@media screen and (max-width:992px) {
  .map__content h2 {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
  }
  .map {
    padding-top: 10px;
  }
  #map {
    min-height: 400px !important;
  }
  .map__content__button {
    min-height: 50px;
  }
  .map__content__button a {
    padding: 10px 70px;
    font-size: 1.124rem;
  }
}

.map__content__button:hover a {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}
