.find-on {
	width: 100%;
	height: auto;
	position: relative;
	padding: 85px 0 150px 0;
	&__main {
		position: relative;
		width: 100%;
		height: auto;
	}
}
 @media screen and (max-width:992px) {
	 .find-on {
		 padding: 50px 0;
	 }
 }
