.unique-baths {
  width: 100%;
  height: auto;
	position: relative;
	padding: 90px 0 86px 0;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__items {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      width: 100%;
      height: auto;
      min-height: 715px;
    }
  }
  &__info {
    width: 100%;
    height: auto;
    position: absolute;
    max-width: 815px;
    margin: 0 auto;
    padding: 15px 97px;
    background-color: rgba(167, 181, 197, .8);
    text-align: center;
    top: 15%;
    z-index: 60;
    right: 0;
    left: 0;
    border: 1px solid #8E8E8E;
    h3 {
      font-family: 'Helvetica Medium';
      font-size: 1.875rem;
      color: #fff;
      margin: 0;
      padding: 0;
      padding-bottom: 15px;
    }
    p {
      font-family: 'Helvetica Thin';
      font-size: 1.125rem;
      color: #fff;
      padding: 0;
      margin: 0;
    }
  }
}

.unique-baths .slick-dots {
  position: absolute;
  bottom: 50%;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  cursor: pointer;
	font-size: 0;
	bottom: 11%;
}

.unique-baths .slick-dots li {
  position: relative;
  display: inline-block;
  width: 15px !important;
  height: 15px !important;
  margin: 0 15px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  outline: 0;
}

.unique-baths .slick-dots .slick-active button {
  color: #fff !important;
  border-radius: 50%;
  width: 15px !important;
  height: 15px !important;
  font-size: 0;
  outline: 0;
  cursor: pointer;
  border: 1px solid #59708f;
  background-color: #a7b5c5;
  outline: 0;
}

.unique-baths .slick-dots li button {
  background-color: #fff;
  color: #fff !important;
  border: 1px solid #a7b5c5;
  border-radius: 50%;
  width: 15px !important;
  height: 15px !important;
  font-size: 0;
  outline: 0;
  cursor: pointer;
  padding: 0;
}
 @media screen and (max-width:992px) {
  .unique-baths__info {
    padding: 15px 25px;
    top: 20%;
  }
  .unique-baths__main__items {
    min-height: 400px;
  }
  .unique-baths__info h3 {
    font-size: 1.2rem;
  }
  .unique-baths {
    padding: 80px 0 40px 0;
  }
 }