<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{#head.bootstrap}}
  <link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
  {{/head.bootstrap}}
  
  {{#head.aos}}
  <link rel="stylesheet" href="assets/css/vendors/aos.css">
  {{/head.aos}}

  {{#head.slick}}
  <link rel="stylesheet" href="assets/css/vendors/slick.css">
  {{/head.slick}}

  {{#head.nice-select}}
  <link rel="stylesheet" href="assets/css/vendors/nice-select.css">
  {{/head.nice-select}}

  {{#head.lightbox}}
  <link rel="stylesheet" href="assets/css/vendors/ekko-lightbox.css" >
  {{/head.lightbox}} 

<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css" media="all" />
  <link rel="stylesheet" href="assets/css/style.min.css">
  <title>{{head.title}}</title>
</head>
<body>
