{{#p-about-us}}
{{> ../head }}
{{> ../organisms/header}}
{{> ../organisms/about-us-banner}}
{{> ../organisms/about-us-what-is}}
{{> ../organisms/about-us-our-story}}
{{> ../organisms/partners}}
{{> ../organisms/unique-baths}}
{{> ../organisms/certificate}}
{{> ../organisms/advantages}}
{{> ../organisms/map}}
{{> ../organisms/we-offer}}
{{> ../organisms/my-footer}}
{{> ../foot }}
{{/p-about-us}}