{{#p-category}}
{{> ../head }}
{{> ../organisms/header}}
{{> ../organisms/catalog-section}}
{{> ../organisms/about-material}}
{{> ../organisms/we-offer}}
{{> ../organisms/my-footer}}
{{> ../foot }}
{{/p-category}}