{{#p-home}}
{{> ../head }}
{{> ../organisms/header}}
{{> ../organisms/home-banner}}
{{> ../organisms/our-goods}}
{{> ../organisms/own-bath}}
{{> ../organisms/advantages}}
{{> ../organisms/partners}}
{{> ../organisms/map}}
{{> ../organisms/we-offer}}
{{> ../organisms/my-footer}}
{{> ../foot }}
{{/p-home}}