{{#p-producte}}
{{> ../head }}
{{> ../organisms/header}}
{{> ../organisms/banner-main}}
{{> ../organisms/characteristic-block}}
{{> ../organisms/our-goods}}
{{> ../organisms/we-offer}}
{{> ../organisms/my-footer}}
{{> ../foot }}
{{/p-producte}}