{{#p-reviews}}
{{> ../head }}
{{> ../organisms/header}}
{{> ../organisms/showrooms-select-block}}
{{> ../organisms/review-client}}
{{> ../organisms/our-goods}}
{{> ../organisms/we-offer}}
{{> ../organisms/my-footer}}
{{> ../foot }}
{{/p-reviews}}