{{#p-shipping}}
{{> ../head }}
{{> ../organisms/header}}
{{> ../organisms/shipping-content-line-1}}
{{> ../organisms/about-material}}
{{> ../organisms/we-offer}}
{{> ../organisms/my-footer}}
{{> ../foot }}
{{/p-shipping}}