{{#p-showrooms}}
{{> ../head }}
{{> ../organisms/header}}
{{> ../organisms/showrooms-select-block}}
{{> ../organisms/showrooms-partners-location}}
{{> ../organisms/showrooms-find-on-block}}
{{> ../organisms/we-offer}}
{{> ../organisms/my-footer}}
{{> ../foot }}
{{/p-showrooms}}