
/*  Helvetica Bold */
@font-face {
  font-family: 'Helvetica Bold';
  src: url('../fonts/HelveticaBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaBold.svg#HelveticaBold') format('svg'); /* Legacy iOS */
}

/*  Helvetica Light */
@font-face {
  font-family: 'Helvetica Light';
  src: url('../fonts/HelveticaLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaLight.svg#HelveticaLight') format('svg'); /* Legacy iOS */
}


/*  Helvetica Medium */
@font-face {
  font-family: 'Helvetica Medium';
  src: url('../fonts/HelveticaMedium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaMedium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaMedium.svg#HelveticaMedium') format('svg'); /* Legacy iOS */
}


/*  Helvetica Regular */
@font-face {
  font-family: 'Helvetica Regular';
  src: url('../fonts/HelveticaRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaRegular.svg#HelveticaRegular') format('svg'); /* Legacy iOS */
}


/*  Helvetica Thin */
@font-face {
  font-family: 'Helvetica Thin';
  src: url('../fonts/HelveticaThin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaThin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaThin.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaThin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaThin.svg#HelveticaThin') format('svg'); /* Legacy iOS */
}

/*  ProximaNova-Light*/
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ProximaNova-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ProximaNova-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg'); /* Legacy iOS */
}

/* Comic Sans*/
@font-face {
  font-family: 'ComicSansMS';
  src: url('../fonts/ComicSansMSt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ComicSansMS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ComicSansMS.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ComicSansMS.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ComicSansMS.svg#ComicSansMS') format('svg'); /* Legacy iOS */
}

/* ProximaNovaCond-Semibold*/
@font-face {
  font-family: 'ProximaNovaCond-Semibold';
  src: url('../fonts/ProximaNovaCond-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ProximaNovaCond-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ProximaNovaCond-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ProximaNovaCond-Semibold.svg#ProximaNovaCond-Semibold') format('svg'); /* Legacy iOS */
}