/* Fonts */
$f-bold: 'Raleway Bold', Tahoma, sans-serif;
$f-regular: 'Raleway Regular', Tahoma, sans-serif;
$f-light: 'Raleway Light', Tahoma, sans-serif;

/* Colors */
$c-olive: #3a3a3a;
$c-turquoise: #5accc2;
$c-bluegreen: #33b5cc;
$c-green: #61c78c;
$c-matis: #74d14c;
$c-white: #ffffff;
$c-black: #000000;